*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.x-wrap {
    width: 90%;
    margin: 0 auto;
}

.y-wrap {
    padding: 12px 0;
}

li {
    list-style: none;
}

main {
    flex: 1;
}